---
layout: default
---

{% if site.open %}
  <div class="wrapper">
    {% assign data = site.data.full %}
    {% include header.html %}
    {% include profile.html %}
    {% include experiences.html %}
    {% include projects.html %}
    {% include skills.html %}
    {% include interests.html %}
    {% include certificates.html %}
    {% include education.html %}
    
    {% include language.html %}
    {% include publications.html %}
    {% include evaluation.html %}
  </div>
  {% include footer.html %}
{% else %}
  {% include close.html %}
{% endif %}