{% assign education = data.certificates %}
{% if education and education.display %}
  <section class="section educations-section">

    <div class="section-title">
      {{ education.title }}
    </div>

    <div class="row">
      {% for graduation in education.items %}
      <div class="col">
        <div class="item">
        
          <div class="upper-row">
            <div class="university">{{ graduation.major }}</div>
          </div>

          <div class="upper-row">
              <div class="major">{{ graduation.university }}</div>
              <div class="time">{{ graduation.time }}</div>
          </div>

          {% if graduation.details %}
          <div class="details">
            {{ graduation.details | markdownify }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
